.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 16px;

  .profile-pic-new {
    width: 400px;
    min-width: 200px;
    height: 400px;
    min-height: 200px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 16px;

    .name {
      font-size: 2rem;
      font-weight: bold;
    }

    .heading {
      font-size: 1.5rem;
    }

    .sub-heading {
      font-size: 1.25rem;
      text-align: justify;
    }
  }
}
