#root {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.shell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
