:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 1500px;
}

[data-theme="light"] {
  /* Youtube Theme */
  --background-color: #FFFFFF;
  --text-color: #0F0F0F;
  --outline-color: #E5E4E4;
  --link-color: #535bf2;
}

[data-theme="dark"] {
  /* Youtube Theme */
  --background-color: #0F0F0F;
  --text-color: #F1F0F0;
  --outline-color: #3F3F3F;
  --link-color: #4fa3ff;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.divider {
  width: calc(100% - 80px);
  border-top: 1px solid var(--outline-color);
  margin: 10px 0px;
  box-sizing: border-box;
  align-self: center;
}

.seperator {
  border: 0.75px solid var(--text-color);
}
