:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 1500px;
}

[data-theme="light"] {
  /* Youtube Theme */
  --background-color: #ffffff;
  --text-color: #0f0f0f;
  --outline-color: #e5e4e4;
  --link-color: #535bf2;
  --shadow-color: #d5d5d5;
}

[data-theme="dark"] {
  /* Youtube Theme */
  --background-color: #0f0f0f;
  --text-color: #f1f0f0;
  --outline-color: #3f3f3f;
  --link-color: #4fa3ff;
  --shadow-color: #333333;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.divider {
  width: calc(100% - 80px);
  border-top: 1px solid var(--outline-color);
  margin: 10px 0px;
  box-sizing: border-box;
  align-self: center;
}

.seperator {
  border: 0.75px solid var(--text-color);
}

svg path {
  fill: "#FFF";
}
